body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #f5f4f4;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-position: right bottom 90%;
}



.container-fluid {
    position: absolute;
    float: right;
    top: 30%;
    right: 53%;
    background-color: transparent;
    width: 47%;
    height: 50%;

}



.col-xs-4 {
    background-color: transparent;

    border: 0px;
}



.card-body h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    text-align: left center;
    font-style: normal;
    font-size: 65px;
    width: 560px;
    border: none;

}

.btn {
    margin-right: 6%;
    margin-left: 7%;
    width: 36%;
    border: 0px;
    background-color: transparent;
    color: #949494;


}

.card-body h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100px;
    text-align: center;
    font-style: normal;
    font-size: 28px;
    width: 560px;
    margin-top: -30px;
    border: none;


}


.card {
    background-color: transparent;
    border: 0px;
}

.card-body {
    border: 0px;

}
